[submodule "Plugins/n00dEmotes"]
	path = Plugins/n00dEmotes
	url = https://github.com/n00dbeaverstudios/n00dEmotes
[submodule "Plugins/n00dFootsteps"]
	path = Plugins/n00dFootsteps
	url = https://github.com/n00dbeaverstudios/n00dFootsteps
[submodule "Plugins/n00dSleeper"]
	path = Plugins/n00dSleeper
	url = https://github.com/n00dbeaverstudios/n00dSleeper
[submodule "Plugins/n00dHolster"]
	path = Plugins/n00dHolster
	url = https://github.com/n00dbeaverstudios/n00dHolster
[submodule "Plugins/n00dDoors"]
	path = Plugins/n00dDoors
	url = https://github.com/n00dbeaverstudios/n00dDoors
[submodule "Plugins/n00dLobby"]
	path = Plugins/n00dLobby
	url = https://github.com/n00dbeaverstudios/n00dLobby
[submodule "Plugins/n00dStudio"]
	path = Plugins/n00dStudio
	url = https://github.com/n00dbeaverstudios/n00dStudio
