[submodule "Plugins/n00dEmotes"]
	path = Plugins/n00dEmotes
	url = https://github.com/n00dbeaverstudios/n00dEmotes
	branch = main
[submodule "Plugins/n00dFootsteps"]
	path = Plugins/n00dFootsteps
	url = https://github.com/n00dbeaverstudios/n00dFootsteps
	branch = main
[submodule "Plugins/n00dSleeper"]
	path = Plugins/n00dSleeper
	url = https://github.com/n00dbeaverstudios/n00dSleeper
	branch = main
[submodule "Plugins/n00dHolster"]
	path = Plugins/n00dHolster
	url = https://github.com/n00dbeaverstudios/n00dHolster
	branch = main
[submodule "Plugins/n00dDoors"]
	path = Plugins/n00dDoors
	url = https://github.com/n00dbeaverstudios/n00dDoors
	branch = main
[submodule "Plugins/n00dLobby"]
	path = Plugins/n00dLobby
	url = https://github.com/n00dbeaverstudios/n00dLobby
	branch = main
[submodule "Plugins/n00dStudio"]
	path = Plugins/n00dStudio
	url = https://github.com/n00dbeaverstudios/n00dStudio
[submodule "Plugins/XCharStackOBot"]
	path = Plugins/XCharStackOBot
	url = https://github.com/OurGameOrg/XCharStackOBot
[submodule "Plugins/XEnvInfinityGrasslands"]
	path = Plugins/XEnvInfinityGrasslands
	url = https://github.com/OurGameOrg/XEnvInfinityGrasslands
[submodule "Plugins/XCharInfinityAdversaries"]
	path = Plugins/XCharInfinityAdversaries
	url = https://github.com/OurGameOrg/XCharInfinityAdversaries
[submodule "Plugins/XCharInfinityWarriors"]
	path = Plugins/XCharInfinityWarriors
	url = https://github.com/OurGameOrg/XCharInfinityWarriors
[submodule "Plugins/ALS-Community"]
	path = Plugins/ALS-Community
	url = https://github.com/dyanikoglu/ALS-Community
[submodule "Plugins/XFXInfinityBladeEffects"]
	path = Plugins/XFXInfinityBladeEffects
	url = https://github.com/OurGameOrg/XFXInfinityBladeEffects
[submodule "Plugins/XWeapInfinityBladeWeapons"]
	path = Plugins/XWeapInfinityBladeWeapons
	url = https://github.com/OurGameOrg/XWeapInfinityBladeWeapons
